.item {
	width: calc(100% / 3 - 10px);
	height: calc(100% / 3 - 10px);
	margin: 5px;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #a1e7ff;
}

.item span {
	font-size: 5rem;
	text-transform: capitalize;
}
